<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list - Your tasks</title>
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/generic-classes.css">
    <link rel="stylesheet" href="../assets/css/thames-classes.css">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
</head>

<body class="bg-secondary light">

    <div id="conteiner" class="d-flex flex-direction-column">

        <header class="d-flex justify-content-center">
            <form onsubmit="addNewTask()" id="form-new-task" class="d-flex align-items-center bg-primary light">
                <input name="description" type="text" placeholder="Write a new task" spellcheck="false" autocomplete="off" id="description-new-task">

                <div id="actions-form" class="d-flex align-items-center opacity-0">
                    <select name="category" id="category-new-task" class="bg-arrow bg-secondary ft-color-secondary light">
                        <option value="true" selected>Personal</option>
                        <option value="false">Work</option>
                    </select>

                    <button type="submit" aria-label="Add" class="hover-tooltip bg-secondary light"><i class="uil uil-plus ft-color-secondary light"></i></button>
                </div>
            </form>

            <button aria-label="Change thame" class="d-flex justify-content-center align-items-center hover-tooltip bg-primary light" id="change-thame"><i class="uil uil-moon ft-color-secondary light"></i>
        </header>

        <div id="conteiner-all-tasks">

            <ul id="content-all-tasks" class="d-flex flex-direction-column">
                <% for (let task of tasks) {%>

                    <li id="<%=task._id%>" class="continer-task d-flex align-items-center bg-primary ft-color-secondary light">
                        <div class="conteiner-task-completed d-flex justify-content-center align-items-center">
                            <input type="checkbox" data-done="<%=task.done%>" onchange="changeDoneInput(this, '<%=task._id%>')" id="checkbox<%=task._id%>" class="task-completed d-none category-<%=task.category%> light">
                            <label for="checkbox<%=task._id%>"></label>
                        </div>
                        <p class="description-task">
                            <%=task.description%>
                        </p>
                        <button onclick="deleteTask('<%=task._id%>')" aria-label="Delete" class="btn-delete hover-tooltip light"><i class="uil uil-trash ft-color-secondary light"></i></button>
                    </li>

                <%}%>
            </ul>

        </div>
  
    </div>

    <script src="../assets/js/interface.js"></script>
    <script src="../assets/js/taskFunctions.js"></script>

</body>

</html>